@import url("https://use.typekit.net/omu8gkx.css");
* {
  box-sizing: border-box;
}

h1 {
  font-size: 3.3rem;
}

@media only screen and (max-width: 991px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 3rem;
}

@media only screen and (max-width: 991px) {
  h2 {
    font-size: 2.0rem;
  }
}

h3 {
  font-size: 2.3rem;
}

@media only screen and (max-width: 991px) {
  h3 {
    font-size: 1.5rem;
  }
}

p {
  color: #142651;
}

.row {
  padding-right: 0px;
  margin-right: 0;
}

@media (max-width: 576px) {
  .container {
    margin-left: 0;
  }
}

.hamburger.is-active .hamburger-inner, .hamburger-inner {
  background-color: #f6864c;
}

.hamburger.is-active .hamburger-inner:before, .hamburger-inner:before {
  background-color: #f6864c;
}

.hamburger.is-active .hamburger-inner:after, .hamburger-inner:after {
  background-color: #f6864c;
}

@keyframes image-animation {
  0% {
    padding-bottom: 40px;
  }
  25% {
    padding-bottom: 32px;
  }
  50% {
    padding-bottom: 24px;
  }
  75% {
    padding-bottom: 16px;
  }
  100% {
    padding-bottom: 8px;
  }
}

.navbar-background {
  background: rgba(20, 38, 81, 0.8);
  transition: .5s;
  animation: image-animation 0.7s ease-in;
}

.navbar-background:hover {
  background: #142651;
}

header {
  color: #8292be;
  height: 50vh;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

header nav .navbar-toggler:focus {
  outline: none;
}

header nav .navbar-collapse {
  -ms-flex-pack: end;
      justify-content: flex-end;
}

header nav .navbar-collapse .nav-item {
  padding: 0 1rem;
}

header nav .navbar-collapse a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}

header nav .navbar-collapse a:hover {
  color: #f6864c;
}

@media only screen and (max-width: 767px) {
  header nav .navbar-collapse a:hover {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 767px) {
  header {
    height: 100vh;
  }
}

header .header-text {
  padding-top: 15vh;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

@media only screen and (max-width: 767px) {
  header .header-text {
    padding-top: 20vh;
  }
}

header .header-text h1:nth-of-type(1) {
  color: white;
}

header .header-text h1:nth-of-type(2) {
  color: #f6864c;
  font-weight: 700;
}

header .header-text h2 {
  padding-top: 50px;
  color: #f6864c;
  font-weight: 700;
}

header .header-text .text {
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

header .header-text .text .typed-cursor {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

header .header-text .text p {
  color: inherit;
  font-size: 1.5rem;
}

.about {
  padding: 50px 0;
  height: 50vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

@media only screen and (max-width: 767px) {
  .about {
    height: auto;
    padding: 125px 0;
  }
}

@media only screen and (max-width: 535px) {
  .about {
    padding: 59px 0;
  }
}

.about .col-lg-10 {
  z-index: 2;
  text-align: center;
  padding: 0;
}

.about .col-lg-10 h3 {
  color: #8292be;
  line-height: 1.5;
}

.about .col-lg-10 p {
  margin: 50px 0 0;
  text-align: justify;
}

.about .col-lg-10 p span {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.about .image {
  position: relative;
  padding: 0;
}

.about .image img {
  position: absolute;
  right: 0;
  bottom: -325px;
  opacity: 1;
  transform-origin: bottom right;
}

@media only screen and (max-width: 1970px) {
  .about .image img {
    transform: scale(0.95);
  }
}

@media only screen and (max-width: 1900px) {
  .about .image img {
    opacity: 0.6;
    transform: scale(0.85);
    bottom: -324px;
  }
}

@media only screen and (max-width: 1399px) {
  .about .image img {
    transform: scale(0.75);
  }
}

@media only screen and (max-width: 767px) {
  .about .image img {
    bottom: -305px;
  }
}

@media only screen and (max-width: 535px) {
  .about .image img {
    bottom: -323px;
  }
}

.stats {
  color: #f6864c;
  background-color: #8292be;
  padding: 50px 0;
  text-align: center;
}

.stats .col-md-4 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.stats h1 {
  font-size: 5.8rem;
  font-weight: 700;
}

.stats h1 .counter {
  font-size: inherit;
}

@media only screen and (max-width: 1399px) {
  .stats h1 {
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 991px) {
  .stats h1 {
    font-size: 3.5rem;
  }
}

.stats h1 span {
  font-size: 1.5rem;
}

.stats h3 {
  font-size: 2.1rem;
}

@media only screen and (max-width: 1399px) {
  .stats h3 {
    font-size: 2rem;
  }
}

.offer {
  padding: 100px 0;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (max-width: 577px) {
  .offer {
    padding: 50px 0;
  }
}

.offer .container div:nth-of-type(2), .offer .container div:nth-of-type(3) {
  padding-left: 20px;
}

@media only screen and (max-width: 577px) {
  .offer .container div:nth-of-type(2), .offer .container div:nth-of-type(3) {
    display: block;
  }
}

.offer p {
  font-size: 15px;
}

.offer .col-sm-12 {
  padding-bottom: 35px;
}

@media only screen and (max-width: 577px) {
  .offer .col-sm-12 {
    padding-bottom: 10px;
  }
}

.offer .col-sm-12 h1 {
  color: #142651;
  text-align: center;
}

.offer .col-sm-12 h3 {
  color: #8292be;
  margin: 50px 0;
  padding: 0 20px;
  font-weight: 400;
  text-align: center;
}

.offer .col-lg-6 {
  margin: 45px 0;
  opacity: 0;
}

@media only screen and (max-width: 577px) {
  .offer .col-lg-6 {
    text-align: center;
  }
}

.offer .col-lg-6 h3 {
  color: #f6864c;
}

@media only screen and (max-width: 577px) {
  .offer .col-lg-6 h3 {
    padding: 20px 0;
  }
}

.offer .col-lg-6 .circle {
  border: 5px solid #f6864c;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  transition: 0.5s ease-in-out;
  opacity: 0.7;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .offer .col-lg-6 .circle {
    width: 120px;
    height: 120px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .offer .col-lg-6 .circle {
    width: 130px;
    height: 130px;
  }
}

.offer .col-lg-6 .circle:hover {
  transform: scale(1.05);
  opacity: 1;
}

.offer .col-lg-6 .circle:hover img {
  transform: rotate(360deg);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .offer .col-lg-6 .circle:hover img {
    transform: scale(0.8) rotate(360deg);
  }
}

.offer .col-lg-6 .circle img {
  transition: 0.5s ease-in-out;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .offer .col-lg-6 .circle img {
    transform: scale(0.8);
  }
}

.offer .col-lg-6 .circle .owl {
  margin-left: 10px;
}

.offer .col-lg-6 .col-sm-4 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

@media only screen and (max-width: 577px) {
  .offer .col-lg-6 .col-sm-4 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
  }
}

.owl-carousel .owl-item img {
  display: block;
  width: auto;
}

.owl-stage {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.quote {
  background-image: url(../images/blue_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding: 50px 0;
}

.quote img {
  height: 50px;
  width: 50px;
  margin: 25px 0;
}

.quote p {
  color: inherit;
  padding: 0 20px;
  font-size: 1.2rem;
  text-align: center;
}

.quote .quotation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.quote .signature {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-right: 15px;
}

.quote .signature p {
  text-align: right;
}

.contact {
  background-color: #f6864c;
  padding: 100px 0;
}

.contact button {
  color: white;
  box-shadow: none;
  border: none;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0;
  transition: 0.3s ease-in-out;
  background: linear-gradient(45deg, #142651 50%, transparent 50%);
  background-position: 100% 0;
  background-size: 500%;
  background-color: #8292be;
}

.contact button:focus {
  outline: none;
}

.contact button:hover {
  background-position: 0 100%;
}

.contact h4 {
  border-bottom: 2px solid white;
  color: white;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
}

.contact .formData {
  line-height: 2;
  padding-right: 100px;
}

.contact .formData p {
  font-size: 14px;
}

.contact .formData p:nth-of-type(2) {
  font-style: italic;
  font-weight: 700;
  float: right;
}

.contact .form-message {
  text-align: center;
  color: white;
}

.contact .form {
  padding-left: 30px;
}

@media only screen and (max-width: 1199px) {
  .contact .form {
    padding-left: 7.5px;
  }
}

.contact .form .input-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-bottom: 30px;
}

@media only screen and (max-width: 1199px) {
  .contact .form .input-container {
    -ms-flex-direction: column;
        flex-direction: column;
    padding-bottom: 0px;
  }
}

.contact .form .input-container input {
  box-shadow: none;
  border: none;
  width: 48%;
  border-radius: 10px;
  padding: 10px;
}

.contact .form .input-container input:focus {
  outline: none;
  color: #142651;
}

@media only screen and (max-width: 1199px) {
  .contact .form .input-container input {
    width: 100%;
    margin-bottom: 30px;
  }
}

.contact .form textarea {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 10px;
  min-height: 100px;
  resize: none;
  display: block;
  border: none;
}

.contact .form textarea:focus {
  outline: none;
  color: #142651;
}

.contact .form textarea:-ms-input-placeholder, .contact .form input:-ms-input-placeholder {
  color: #142651;
}

.contact .form textarea::placeholder, .contact .form input::placeholder {
  color: #142651;
}

.form-hide {
  display: none !important;
}

@keyframes formFadeIn {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.formFadeInAnimation {
  animation: formFadeIn 0.5s forwards;
}

@keyframes formFadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.2);
    opacity: 0;
  }
}

.formFadeOutAnimation {
  animation: formFadeOut 0.5s forwards;
}

footer .container p {
  margin: 25px 0;
  color: #142651;
}

footer div:nth-of-type(2) {
  padding: 25px 0;
  text-align: center;
  background-color: #142651;
  color: white;
}

footer div:nth-of-type(2) p {
  margin-bottom: 0;
  color: inherit;
}
/*# sourceMappingURL=style.css.map */