* {
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
}

@media only screen and (max-width: 1600px) {
  h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 991px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 3rem;
}

@media only screen and (max-width: 1600px) {
  h2 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 991px) {
  h2 {
    font-size: 2.0rem;
  }
}

h3 {
  font-size: 2.5rem;
}

@media only screen and (max-width: 1600px) {
  h3 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 991px) {
  h3 {
    font-size: 1.5rem;
  }
}

p {
  font-size: 1.5rem;
  color: #142651;
}

@media only screen and (max-width: 1600px) {
  p {
    font-size: 1rem;
  }
}

.row {
  margin-right: 0;
}

.hamburger.is-active .hamburger-inner, .hamburger-inner {
  background-color: #f6864c;
}

.hamburger.is-active .hamburger-inner:before, .hamburger-inner:before {
  background-color: #f6864c;
}

.hamburger.is-active .hamburger-inner:after, .hamburger-inner:after {
  background-color: #f6864c;
}

header {
  height: 100vh;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

header nav {
  color: #8292be;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1600px) {
  header nav {
    font-size: 1rem;
  }
}

header nav .navbar-brand {
  transform: scale(1.2);
}

@media only screen and (max-width: 1600px) {
  header nav .navbar-brand {
    transform: scale(1);
  }
}

header nav .navbar-toggler:focus {
  outline: none;
}

header nav .navbar-collapse {
  justify-content: flex-end;
}

header nav .navbar-collapse .nav-item {
  padding: 0 1rem;
}

header nav .navbar-collapse a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}

header nav .navbar-collapse a:hover {
  color: #f6864c;
}

@media only screen and (max-width: 767px) {
  header nav .navbar-collapse a:hover {
    padding-left: 20px;
  }
}

header nav button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

header nav button:hover {
  color: #f6864c;
}

header .header-text {
  padding-top: 40vh;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  header .header-text {
    padding-top: 20vh;
  }
}

header .header-text h1:nth-of-type(1) {
  color: #142651;
}

header .header-text h1:nth-of-type(2) {
  color: #f6864c;
  font-weight: 700;
}

header .header-text h2 {
  padding-top: 10%;
  color: #f6864c;
  font-weight: 700;
}

header .header-text .text {
  color: #8292be;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header .header-text .text .typed-cursor {
  font-size: 2rem;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1600px) {
  header .header-text .text .typed-cursor {
    font-size: 1.5rem;
  }
}

header .header-text .text p {
  color: inherit;
  font-size: 2rem;
}

@media only screen and (max-width: 1600px) {
  header .header-text .text p {
    font-size: 1.5rem;
  }
}

.about {
  padding: 100px 0 0;
}

.about .col-lg-7 {
  z-index: 2;
  text-align: center;
}

.about .col-lg-7 h3 {
  color: #8292be;
  line-height: 1.5;
}

.about .col-lg-7 p {
  margin: 50px 0 100px;
}

.about .image {
  position: relative;
  padding: 0;
}

.about .image img {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: scale(1.4);
  transform-origin: bottom right;
  opacity: 0;
}

@media only screen and (max-width: 1600px) {
  .about .image img {
    transform: scale(1);
  }
}

@media only screen and (max-width: 1399px) {
  .about .image img {
    transform: scale(0.75);
  }
}

.stats {
  color: #f6864c;
  background-color: #8292be;
  padding: 50px 0;
  text-align: center;
}

.stats h1 {
  font-weight: 700;
}

.stats h1 span {
  font-size: 1.8rem;
}

.offer {
  padding: 100px 0;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.offer .col-sm-12 {
  padding-bottom: 100px;
  text-align: center;
}

.offer .col-sm-12 h1 {
  color: #142651;
}

.offer .col-sm-12 h2 {
  color: #8292be;
  margin: 50px 0;
  padding: 0 20px;
  font-weight: 400;
}

.offer .col-lg-6 {
  margin-bottom: 50px;
  opacity: 0;
}

@media only screen and (max-width: 577px) {
  .offer .col-lg-6 {
    text-align: center;
  }
}

.offer .col-lg-6 h3 {
  color: #f6864c;
}

.offer .col-lg-6 .circle {
  border: 5px solid #f6864c;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.offer .col-lg-6 .circle:hover {
  transform: scale(1.1);
}

.offer .col-lg-6 .circle:hover img {
  transform: rotate(360deg);
}

.offer .col-lg-6 .circle img {
  transition: 0.5s ease-in-out;
}

@media only screen and (max-width: 577px) {
  .offer .col-lg-6 .col-sm-4 {
    display: flex;
    justify-content: center;
  }
}

.quote {
  background-image: url(../images/blue_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
  color: white;
}

.quote p {
  color: inherit;
}

.quote .quotation {
  display: flex;
  justify-content: flex-end;
}

.quote .signature {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.contact {
  background-color: #f6864c;
  padding: 100px 0;
}

.contact button {
  margin-top: 20px;
  color: white;
  box-shadow: none;
  border: none;
  height: 70px;
  width: 210px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0;
  transition: 0.3s ease-in-out;
  background: linear-gradient(45deg, #142651 50%, transparent 50%);
  background-position: 100% 0;
  background-size: 500%;
  background-color: #8292be;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1600px) {
  .contact button {
    font-size: 1rem;
    height: 50px;
    width: 150px;
  }
}

.contact button:focus {
  outline: none;
}

.contact button:hover {
  background-position: 0 100%;
}

.contact h4 {
  border-bottom: 2px solid white;
  color: white;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1600px) {
  .contact h4 {
    font-size: 1rem;
  }
}

.contact .formData {
  line-height: 2;
}

.contact .formData p:nth-of-type(2) {
  font-style: italic;
  font-weight: 700;
}

.contact .form-message {
  text-align: center;
  color: white;
}

.contact .form .input-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

@media only screen and (max-width: 1199px) {
  .contact .form .input-container {
    flex-direction: column;
    padding-bottom: 0px;
  }
}

.contact .form .input-container input {
  box-shadow: none;
  border: none;
  width: 48%;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1600px) {
  .contact .form .input-container input {
    font-size: 1rem;
  }
}

.contact .form .input-container input:focus {
  outline: none;
}

@media only screen and (max-width: 1199px) {
  .contact .form .input-container input {
    width: 100%;
    margin-bottom: 30px;
  }
}

.contact .form textarea {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 10px;
  min-height: 100px;
  resize: none;
  display: block;
  border: none;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1600px) {
  .contact .form textarea {
    font-size: 1rem;
  }
}

.contact .form textarea:focus {
  outline: none;
}

.form-hide {
  display: none !important;
}

@keyframes formFadeIn {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.formFadeInAnimation {
  animation: formFadeIn 0.5s forwards;
}

@keyframes formFadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.2);
    opacity: 0;
  }
}

.formFadeOutAnimation {
  animation: formFadeOut 0.5s forwards;
}

footer .container p {
  margin: 25px 0;
  color: #142651;
}

footer div:nth-of-type(2) {
  padding: 25px 0;
  text-align: center;
  background-color: #142651;
  color: white;
}

footer div:nth-of-type(2) p {
  margin-bottom: 0;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */