 @import url("https://use.typekit.net/omu8gkx.css");

$main-color: rgb(246, 134, 76);
$second-color: rgb(130, 146, 190);
$third-color: rgb(20, 38, 81);
$forth-color: rgb(255, 255, 255);

* {
	box-sizing: border-box;
}

h1 {
	font-size: 3.3rem;
	@media only screen and (max-width: 991px) {
		font-size: 2.5rem;
	}
}

h2 {
	font-size: 3rem;
	@media only screen and (max-width: 991px) {
		font-size: 2.0rem;
	}
}

h3 {
	font-size: 2.3rem;
	@media only screen and (max-width: 991px) {
		font-size: 1.5rem;
	}
}

p {
	color: $third-color;
}


.row {
	padding-right: 0px;
 	margin-right: 0;
}

@media (max-width: 576px) {
  .container{ 
    margin-left: 0;
  }
 }
//hamburger color
.hamburger.is-active .hamburger-inner, .hamburger-inner {
	background-color: $main-color;
	&:before {
		background-color: $main-color;
	}
	&:after {
		background-color: $main-color;
	}
}

@keyframes image-animation {
	0% {
		padding-bottom: 40px;
	}	
	25% {
		padding-bottom: 32px;
	}
	50% {
		padding-bottom: 24px;
	}
	75% {
		padding-bottom: 16px;
	}
	100% {
		padding-bottom: 8px;
	}
}


.navbar-background {
	background: rgba(20, 38, 81, 0.8);	
	transition: .5s;
	animation: image-animation 0.7s ease-in;
	&:hover {
		background: rgba(20, 38, 81, 1);
	}
}

header {
	color: $second-color;
	nav {	
	  	.navbar-toggler {
	  		&:focus {
	  			outline: none;
	  		}		
	  	}
		.navbar-collapse {
			justify-content: flex-end;
			.nav-item {
				padding: 0 1rem;			 
			}
			a {
				text-decoration: none;
				color: inherit;
				transition: 0.5s;
				&:hover {
					color: $main-color;
				}
				@media only screen and (max-width: 767px) {
					&:hover {
						padding-left: 20px;
					}
				}
			}
		}	
	}
	height: 50vh;
	background-image: url(../images/header_bg.png);
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	background-attachment: fixed;
  	@media only screen and (max-width: 767px) {
		height: 100vh;
	}
	.header-text {
		padding-top: 15vh;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;	
		@media only screen and (max-width: 767px) {
			padding-top: 20vh;
		}
		h1:nth-of-type(1){
			color: $forth-color;
		}
		h1:nth-of-type(2){
			color: $main-color;
			font-weight: 700;
		}
		h2 {
			padding-top: 50px;
			color: $main-color;
			font-weight: 700;
		}
		.text {
			color: $forth-color;		
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			.typed-cursor {
				font-size: 1.5rem;
				margin-bottom: 20px;
			}
			p {
				color: inherit;
				font-size: 1.5rem;
			}
		}
	}
}


.about {	
	padding: 50px 0;
	height: 50vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	@media only screen and (max-width: 767px) {
		height: auto;
		padding: 125px 0;
	}
		@media only screen and (max-width: 535px) {
		padding: 59px 0;						
	} 
	.col-lg-10 {
		z-index: 2;
		text-align: center;
		padding: 0;
		h3 {
			color: $second-color;
			line-height: 1.5;
		}
		p {
			margin: 50px 0 0;
			text-align: justify;
			span {
				display: table;
				margin-left: auto;
   				margin-right: auto;
			}
		}
	}
	.image {
		position: relative;
		padding: 0;
		img {
			position: absolute;
			right: 0;
			bottom: -325px;
			opacity: 1;
			transform-origin:bottom right;
			@media only screen and (max-width: 1970px) {
				transform: scale(0.95);			
			}
			@media only screen and (max-width: 1900px) {
				opacity: 0.6;	
				transform: scale(0.85);		
				bottom: -324px;
			}
			@media only screen and (max-width: 1399px) {
				transform: scale(0.75);						
			} 
			@media only screen and (max-width: 767px) {
				bottom: -305px;						
			} 
			@media only screen and (max-width: 535px) {
				bottom: -323px;						
			} 
		}
	}
}


.stats {
	color: $main-color;
	background-color: $second-color;
	padding: 50px 0;
	text-align: center;
	.col-md-4 {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	h1 {
		.counter {
			font-size: inherit;
		}
		font-size: 5.8rem;
		font-weight: 700;
		@media only screen and (max-width: 1399px) {
			font-size: 4.5rem;				
		} 
		@media only screen and (max-width: 991px) {
			font-size: 3.5rem;				
		} 
		span {
			font-size: 1.5rem;
		}
	}
	h3 {
		font-size: 2.1rem;
		@media only screen and (max-width: 1399px) {
			font-size: 2rem;				
		} 
	}
}


.offer {
	padding: 100px 0;
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	background-attachment: fixed;
  	@media only screen and (max-width: 577px) {
		padding: 50px 0;				
	}
  	.container {
  		div:nth-of-type(2), div:nth-of-type(3){
  			padding-left: 20px;
  			@media only screen and (max-width: 577px) {
				display: block;			
			}
  		}
  	}
  	p {
  		font-size: 15px;
  	}
	.col-sm-12 {
		padding-bottom: 35px;
		@media only screen and (max-width: 577px) {
			padding-bottom: 10px;			
		}
		h1 {
			color: $third-color;
			text-align: center;
		}
		h3 {
			color: $second-color;
			margin: 50px 0;
			padding: 0 20px;
			font-weight: 400;
			text-align: center;
		}
	}
	.col-lg-6 {
		margin: 45px 0;
		opacity: 0;
		@media only screen and (max-width: 577px) {
			text-align: center;
		}
		h3 {
			color: $main-color;
			@media only screen and (max-width: 577px) {
				padding: 20px 0;
			}
		}
		.circle {
			border: 5px solid $main-color;
			border-radius: 50%;
			width: 150px;			
			height: 150px;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: 0.5s ease-in-out;
			opacity: 0.7;
			@media only screen and (min-width: 992px) and (max-width: 1199px) {
				width: 120px;			
				height: 120px;
			}
			@media only screen and (min-width: 577px) and (max-width: 767px) {
				width: 130px;			
				height: 130px;
			}
			&:hover{
				transform: scale(1.05);
				opacity: 1;
			}	
			&:hover img {
				transform: rotate(360deg);
				@media only screen and (min-width: 992px) and (max-width: 1199px) {
					transform: scale(0.8) rotate(360deg);
				}
			}	
			img {
				transition: 0.5s ease-in-out;
				@media only screen and (min-width: 992px) and (max-width: 1199px) {
					transform: scale(0.8);
				}
			}	
			.owl {
				margin-left: 10px;
			}		
		}
		.col-sm-4 {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.col-sm-4 {
			@media only screen and (max-width: 577px) {
				display: flex;
				justify-content: center;
			}
		}
	}
}




// owl-carousel fix
.owl-carousel .owl-item img {
    display: block;
    width: auto;
}
.owl-stage {
	display: flex;
    justify-content: center;
    align-items: center;
}


.quote {
	background-image: url(../images/blue_bg.png);
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	background-attachment: fixed;
  	color: $forth-color;
  	padding: 50px 0; 
  	img {
  		height: 50px;
  		width: 50px;
  		margin: 25px 0;
  	}
  	p {
  		color: inherit;
  		padding: 0 20px;
  		font-size: 1.2rem;
  		text-align: center;
  	}
  	.quotation {
  		display: flex;
  		justify-content: flex-end;
  		
  	}
  	.signature {
  		display: flex;
  		justify-content: space-between;
  		padding-right: 15px;
  		p {
  			text-align: right;
  		}
  	}
}

.contact {
	background-color: $main-color;
	padding: 100px 0;
	button {	
		color: $forth-color;
		box-shadow: none;
		border: none;
		height: 50px;
		width: 150px;
		border-radius: 10px;
		cursor: pointer;
		margin: 0; 
		transition: 0.3s ease-in-out;
		background: linear-gradient(45deg, $third-color 50%, transparent 50%);
		background-position: 100% 0;
		background-size: 500%;
		background-color: $second-color;
		&:focus {
			outline: none;
		}
		&:hover {
			background-position: 0 100%;
		}
	}
	h4 {
		border-bottom: 2px solid $forth-color;
		color: $forth-color;
		margin-bottom: 30px;
		font-weight: 700;
		display: inline-block;
	}
	.formData {
		line-height: 2;
		padding-right: 100px;
		p {
			font-size: 14px;
		}
		p:nth-of-type(2) {
			font-style: italic;
			font-weight: 700;
			float: right;
		}
	}
	.form-message {
		text-align: center;
		color: $forth-color;
	}
	.form {
		padding-left: 30px;
		@media only screen and (max-width: 1199px) {
			padding-left: 7.5px;
		}
		.input-container {
			display: flex;
			justify-content: space-between;
			padding-bottom: 30px;
			@media only screen and (max-width: 1199px) {
				flex-direction: column;
				padding-bottom: 0px;
			}
			input {
				box-shadow: none;
				border: none;
				width: 48%;
				border-radius: 10px;
				padding: 10px;
				&:focus {
					outline: none;
					color: $third-color;
				}
				@media only screen and (max-width: 1199px) {
					width: 100%;
					margin-bottom: 30px;
				}
			}
		}
		textarea {
			width: 100%;
			border-radius: 10px;
			margin-bottom: 30px;
			padding: 10px;
			min-height: 100px;
			resize: none;
			display: block;
			border: none;
			&:focus {
				outline: none;
				color: $third-color;
			}
		}
		textarea::placeholder, input::placeholder {
			color: $third-color;
		}
	}
}

//form animation
.form-hide {
	display: none !important;
}

@keyframes formFadeIn {	
	0% {
		transform: scale(0.2);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.formFadeInAnimation {
	animation: formFadeIn 0.5s forwards;
}

@keyframes formFadeOut {	
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0.2);
		opacity: 0;
	}
}

.formFadeOutAnimation {
	animation: formFadeOut 0.5s forwards;
}

footer {
	.container {
		p {
			margin: 25px 0;
			color: $third-color;
		}
	}
	div:nth-of-type(2) {
		padding: 25px 0;
		text-align: center;
		background-color: $third-color;
		color: $forth-color;
		p {
			margin-bottom: 0;
			color: inherit;
		}
	}
}